@page
@model ShowSearcher.Pages.Shows.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Show</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Show.ShowName" class="control-label"></label>
                <input asp-for="Show.ShowName" class="form-control" />
                <span asp-validation-for="Show.ShowName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Show.ShowDescription" class="control-label"></label>
                <input asp-for="Show.ShowDescription" class="form-control" />
                <span asp-validation-for="Show.ShowDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Show.ShowRate" class="control-label"></label>
                <input asp-for="Show.ShowRate" class="form-control" />
                <span asp-validation-for="Show.ShowRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Show.NumOfSeasons" class="control-label"></label>
                <input asp-for="Show.NumOfSeasons" class="form-control" />
                <span asp-validation-for="Show.NumOfSeasons" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Show.YearShowBegan" class="control-label"></label>
                <input asp-for="Show.YearShowBegan" class="form-control" />
                <span asp-validation-for="Show.YearShowBegan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Show.Genre" class="control-label"></label>
                <input asp-for="Show.Genre" class="form-control" />
                <span asp-validation-for="Show.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Show.OriginalNetwork" class="control-label"></label>
                <input asp-for="Show.OriginalNetwork" class="form-control" />
                <span asp-validation-for="Show.OriginalNetwork" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Show.WikiLink" class="control-label"></label>
                <input asp-for="Show.WikiLink" class="form-control" />
                <span asp-validation-for="Show.WikiLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
