@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Show Searcher</h1>
        <p>A <b>show searcher</b> created by <b>SoftWhere?</b>.</p>
        <p>This is the draft page for our project.</p>
    </div>
