@page
@model FAQModel
@{
    ViewData["Title"] = "Getting Started";
}
<h1>@ViewData["Title"]</h1>

<div>
    <ul>
        <li>
            <b>How do I register? </b> Click on the register button located on the upper right corner. Enter a valid email and a password containing an uppercase character, lowercase character, number and a special character.
        </li>
        <li>
            <b>How to login? </b> Click on the login button located on the upper right corner. Enter your email and password. Hit login button.
        </li>
        <li>
            <b>How to search a show? </b> Click on the Shows button located on the upper bar. Type a keyword and hit filter. All the shows containing that keyword will display.
        </li>
        <li>
            <b>How to search a show with a specific genre? </b> Click on the Shows button located on the upper bar. From the drop down button select the genre that you want to search with.
        </li>
        <li>
            <b>How to find the details of the show?</b> Click on the Shows button located on the upper bar. Click on the details button displayed on the right side of the shows.
        </li>
        <li>
            <b>What all details are shown about the show?</b> Show name, Show description, show rating, number of seasons, year show began, genre, original network, number of likes, number of dislikes, wikipedia page link for the actors/actresses.
        </li>
    </ul>
</div>
