@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4"><b>Welcome！</b></h1>
        <p>A <b>show searcher</b> created by <b>SoftWhere?</b>.</p>
        <h2>Getting Started</h2>
        
    </div>
